<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
</head>
<body>