<nav class="navbar navbar-expand-lg navbar-light bg-light <% if(typeof home != 'undefined') {%>  fixed-top home-nav <%}%> ">
  <a class="navbar-brand" href="#"><span class="font-weight-bold">a</span>utobotgt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <nav class="navbar navbar-light bg-light">
	  <form class="form-inline">
	    <a class="btn btn-outline-primary" href="/login">Login to continue</a>
	  </form>
	</nav>
  </div>
</nav>