<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><span class="font-weight-bold">a</span>utobotgt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContents" aria-controls="navbarSupportedContents" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContents">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Start</a>
      </li> -->
    </ul>
    <nav class="navbar navbar-light bg-light">
	  <form class="form-inline">
      <span class="mr-2"><%= name %></span>
      <a href="/logout">Logout</a>
	  </form>
	</nav>
  </div>
</nav>