<% include ./partials/header %>
<% include ./partials/home_navigation %>
<div id="about" class="container mt-5">
	<h1 class="mb-3"> About us </h1>
	The standard Lorem Ipsum passage, used since the 1500s
	<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

	<B>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</b>
	<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae</p>
</div>
<% include ./partials/footer %>