<% include ./partials/header %>
<% include ./partials/home_navigation %>
<div id="home" class="d-flex align-items-center justify-content-center">
	<div class="container text-center">
		<h1 class="text-white display-3 font-weight-bold"> Next than near to  </h1>
		<h4 class="text-white display-4 font-weight-normal">  Times so do he downs me would. </h4>
		<a href="#" class="app-logo"><img src="images/playstore.png"></a>
		<a href="#" class="app-logo"><img src="images/appstore.png"></a>
	</div>
</div>
<% include ./partials/footer %>