#home{
	height: 100vh;
	width: 100%;
	background: url(../images/bg.png);
	background-size: cover;
}
.home-nav,.home-nav .navbar{
	background: none !important;
}
.home-nav *{
	color : #fff !important;
	border-color : #fff !important;
}
.app-logo img{
	width: 200px;
	margin-right: 15px;
	margin-top: 15px;
}

.camera-buttons{
	padding: 35px;
}

.xc{
	height: calc(100vh - 55px);
	width: 100%;
	margin:0;
}
.xc .col-sm-6{
	padding: 0;
}

#video,#canvas  {
  position: absolute;
  top: 52px;
  left: 16px;
  width: 568px;
  height: 500px;
  border-radius: 20px;
}