<% include ../partials/header %>
<% include ../partials/navigation %>
<div class="camera-container">
	<div class="row xc">
		<div class="col-sm-6">
			<div class="camera-buttons">
				<h2> Live camera object detection </h2>
				<p> Press start camera button to view live camera stream </p>
				<button id="start-camera" class="btn btn-primary">Start camera</button>
			</div>
			<div style="position: relative;left: 20px;top: -66px;">
				<video id="video" width="600" height="500"></video>
				<canvas id="canvas" width="600" height="500"></canvas>
			</div>
		</div>
		<div class="col-sm-6">
			<div id="googleMap"></div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.14.0"> </script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd@0.1.1"> </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aws-sdk/2.385.0/aws-sdk.min.js"></script>
<script src="js/camera_detection.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9NpflFbFD_7nR42IqHMEpwzit3FRyN4A&callback=draw_map"></script>

<% include ../partials/footer %>